STRAVA_CLIENT_ID=your_client_id
STRAVA_CLIENT_SECRET=your_client_secret
SEED_SECRET=some_random_secret
DISCORD_WEBHOOK_EVENTS_TEST=https://discord.com/api/webhooks/...
DISCORD_WEBHOOK_LADIES_TEST=https://discord.com/api/webhooks/...
DISCORD_WEBHOOK_EVENTS_LIVE=https://discord.com/api/webhooks/...
DISCORD_WEBHOOK_LADIES_LIVE=https://discord.com/api/webhooks/...
